<h1><%= @chat_room.title.capitalize %></h1>
<hr>
<div id="messages" data-chat-room-id="<%= @chat_room.random_hash %>">
  <%= render @chat_room.messages %>
</div>

<%= render 'form', message: @message %>